* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* styling all over the page  */


section, div{
  margin: 30px;
}

img{
  display: flex;
  height: 50vh;
  width: 60vh;
 
}
/* Header styling */
.header{
  display: flex;
  justify-content: space-between;
  background-color: coral;
  color: bisque;

}

/* nav styling */

ul{
  display: flex;
  list-style-type: none; 
  margin: 0;
  padding: 0;
  
}
li{
  margin: 10px;
}

nav ul li a{
  text-decoration: none;
  color:bisque;
}

/* Main banner styling */
.hero-banner{
  background-image: url(../images/02-portfolio-3.jpg);
  display: flex;
  justify-content: center;
}

/* about me section styling */
.page-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.main-img{
  height: 70vh;
  width: 90vh;
}
.about-me{
  display: flex;
  border: 3px solid coral;
  text-align: center;
  padding: 20px;
  font-size: 30px;
}
.about-me img{
  display: flex;
  height: 30vh;
  width: 30vh;
}

/* styling for work section */
.work-portfolio{
  display: flex;
  flex-direction: inline;
  justify-content: space-evenly;
  flex-wrap: wrap;

}
.page-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* styling for contact section */
#contact{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: coral;
  margin: 0;
  color: bisque;
}

.contact a{
 margin: 10px;
 color: bisque;

}

@media only screen and (max-width: 600px) {

 body{
  width: 100%;
 }

}